html {
    box-sizing: border-box;
}
*,*::before,*::after {
    box-sizing: border-box;
}
body {
    margin : 0;
    text-align: center;
}

blockquote {
    margin-top: 40vh;
    font-size: 40px;
    background-color: #EEEEEE;
    padding: 10px;
    border-left: 5px solid #3D7E9A;
}
@media screen and (max-width: 800px) {
    blockquote {
        margin-top: 20vh;
    }
}
blockquote cite {
    opacity: 0.5;
}
button {
    padding: 5px 20px;
    cursor: pointer;
    font-size: 20px;
    color : #00309a;
    border: 1px solid #eee;
    transition: opacity 400ms ease-in-out;
    opacity: 0.8;
}
button:hover {
    opacity: 1;
}